@charset "UTF-8";

body{
    background-color: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    display: block;
}

footer{
    color: white;
    font-style: italic;
    text-align: center;
}