@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(70, 142, 236);

}

header{
    color: white;
    text-align: center;

}

section{
    background-color: white;
    width: 500px;
    border-radius: 8px;
    padding: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.473);
    margin-top: 20px;

}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 20px;

}

div#msg{
    text-align: center;
    font-size: 1.5em;
}

img#imagem{
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

